.chessboard {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  background-color: #4f483d;
}


.chessboardContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Alternate the background color of the squares */

.squareBlack{
  width: calc(100% / 8);
  height: calc(100% / 8);
  background-color: #020101;
  border: 1px solid grey;
}
.squareWhite{
  width: calc(100% / 8);
  height: calc(100% / 8);
  background-color: #fdfdfd;
  border: 1px solid grey;
}

