
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.chessboard {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  background-color: #f0d9b5;
}

.chessboard > div {
  width: calc(100% / 8);
  height: calc(100% / 8);
}

/* Alternate the background color of the squares */
.chessboard > div:nth-child(odd) {
  background-color: #b58863;
}
.chessboard > div:nth-child(even) {
  background-color: #f0d9b5;
}

.messageBox{
  background-color: grey;
  height: 100%;
}